<%= form_with(model: adminhome, local: true) do |form| %>
  <% if adminhome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adminhome.errors.count, "error") %> prohibited this adminhome from being saved:</h2>

      <ul>
        <% adminhome.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
